*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    background-color: #ff6900;
    display: flex;
    height: 50px;
}
.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container div{
    width: 20%;
}
.link{
    text-align: left;
}
.logo{
    text-align: center;
}
.icon{
    text-align: right;
    color: white;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin-right: 10px;
}
li a{
    color: white;
    text-decoration: none;
}
.logo img{
    width: 100px;
}
/* MAIN */
.m_container{
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 3 - 7px);
    margin-bottom: 30px;
    position: relative;
}
#center_col{
    margin: 0 10px;
}
.col img{
    width: 100%;
}
.new-price{
    color: red;
}
.boxes{
    position: absolute;
    bottom: 90px;
    left: 0;
}
#center_col .boxes{
    bottom: 120px
}
.box{
    padding: 5px 8px;
    color: white;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.hidden{
    display: none;
}
.card:hover .hidden{
    display: inline-block;
}
.card:hover .show{
    display: none;
}
.heart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background-color: white;
    padding: 5px 10px;
    margin-top: 10px;
}
.card:hover .heart{
    color: red;
}
/* FOOTER */
footer{
    height: 100px;
    background-color: #1a1a1a;
}
.f_container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
}
.info{
    width: 50%;
    height: 100%;
    text-align: left;
    color: white;
    padding: 20px;
}
.info a{
    color: white;
    text-decoration: none;    
    font-size: 12px;
}
.icon2{
    width: 50%;
    height: 100%;
    text-align: right;
    color: white;
    padding: 20px;
}
#footer-icon-text{
    font-size: 12px;
}